:root {
  --wheat: wheat;
  --grey: #f7f7f7;
  --lgt-grey: lightgray;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, "Verdana", "Geneva",
    "Tahoma", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: var(--grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

table caption {
  caption-side: top;
  text-align: left;
  font-size: 1.25em;
  margin: 0.5em 0 0.75em;
  font-weight: bold;
}

table th,
table td {
  border: 0.01em solid black;
  padding: 0.5em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

thead,
tfoot {
  background-color: var(--lgt-grey);
}

h1 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.header {
  text-align: center;
}

.bg-wheat {
  background-color: var(--wheat);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin: 1.5em;
}

.section {
  padding: 1em;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  grid-column: span 2;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  padding: 0.75em 1em;
}

.btn {
  grid-column: span 2;
  max-height: 3em;
  padding: 0.75em 2em;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--lgt-grey);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .container {
    margin: 3em auto;
    border: 0.1em solid black;
  }
}

@media only screen and (min-width: 640px) {
  .form {
    grid-template-columns: 1fr 1fr auto;
  }

  .btn {
    grid-column: span 1;
  }
}

.ledger-box {
  margin-top: 1em;
}

.sty-count {
  width: 25%;
}

.sty-count2 {
  width: 40%;
  border-right: none;
  text-align: right;
}

.sty-count3 {
  border-left: none;
  text-align: left;
}
